body{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 5px;
}

.header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: 100%;
}
.header ul{
  list-style: none;
  display: flex;
}
.header ul li a{
  padding: 0.5rem 1rem;
}
.header ul li a:hover{
  cursor: pointer;
  background-color: #ccc;
}

.poster img{
  width: 100%;
}